python-dotenv==1.0.0
opencv-python
ffmpeg
numpy
boto3==1.34.75
torch
ffmpegcv
deepgram-sdk
python_speech_features
scikit-learn
scipy
scenedetect[opencv]
pandas
matplotlib
torchvision
pysubs2
prisma
deepgram_captions
sk-video
resend
google-api-python-client
google-auth
isodate
yt-dlp
pytubefix